.conda/
.vscode/
.pytest_cache/
.venv/

__pycache__/
app/__pycache__/
characters/__pycache__/
characters/migrations/__pycache__/
local_settings.py
*.local.py

node_modules

media/
db.sqlite3
staticfiles/
dist/

