networks:
  dev:

services:
  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - './frontend/nginx.conf:/etc/nginx/conf.d/default.conf'
    depends_on:
      - backend
      - frontend
    networks:
      - dev

  backend:
    build:
      context: ./backend
    container_name: django-server
    networks:
      - dev

  frontend:
    build:
      context: ./frontend
    container_name: vue-server
    networks:
      - dev
