networks:
  app:

services:
  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      - './frontend/nginx.conf:/etc/nginx/nginx.conf'
    depends_on:
      - backend
      - frontend
    networks:
      - app

  backend:
    build:
      context: ./backend
    container_name: backend
    networks:
      - app
    expose:
      - "8000"

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    networks:
      - app
    expose:
      - "3000"
