apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: backend:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8000
        resources:
          limits:
            memory: "50Mi"
          requests:
            memory: "50"
#        livenessProbe:
#          httpGet:
#           path: /api/health/  
#           port: 8000
#         initialDelaySeconds: 15
#         periodSeconds: 5
#         timeoutSeconds: 1
#         failureThreshold: 2
